/* Main divs*/
body{
    background-image: url("https://images.unsplash.com/photo-1521133573892-e44906baee46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3bb59980f497c31767565ed35b1b3dc8&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
}

h1{
    font-size: 30pt;
    text-align: center;
}

h2{
    text-align: center;
    font-weight: 700;
}

ol{
    list-style: upper-roman; 
    padding: 30px;
}

ul {
	list-style: circle;
}

/* Specfic divs*/
div.header, div.gems{
    background-color: #e0e0eb;
    background-color: white;
	margin: 10px;
    width: 390px;
    border: solid 2px antiquewhite;
	padding: 10px;
}
div.header, div.instructions{
    width: 548px;
    background-color: white;
	margin: 10px;
    width: 390px;
    border: solid 2px antiquewhite;
	padding: 10px;
}

div.gems {
    background-color: white;
	margin: 10px;
    width: 390px;
    border: solid 2px antiquewhite;
	padding: 10px;

}
/* Classes */
.matchThisNumber {
    float: left;
    text-align: center;
    background-color: white;
    margin: 10px;
    height: 40px;
    width: 390px;
    border: solid 2px antiquewhite;
	padding: 10px;
}

.winsAndLosses{
    float: left;
    text-align: center;
    background-color: white;
	margin: 10px;
    width: 390px;
    height: 40px;
    border: solid 2px antiquewhite;
	padding: 10px;
}

.userTotal{
    text-align: center;
    background-color: white;
	margin: 10px;
    width: 390px;
    border: solid 2px antiquewhite;
	padding: 10px;
}
.gems{
	clear: both;
}
.gemImage{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}
/* IDs for crystals in the instruction div*/
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}